:root {
    --black: #171321;
    --dkblue: #0d314b;
    --plum: #4b0d49;
    --hotmag: #ff17e4;
    --magenta: #e310cb;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
    --a: rgba(59, 209, 94, 0.974);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
    color: #f7f8fa;
    min-height: 100vh;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    margin: 0;
    padding: 0;
}


.main-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    align-items: center;
    justify-items: center;
    max-width: 900px; /* Adjust as needed */
    margin: 0 auto; /* Centers the container */
}



.main-container img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.18);
    padding: 3px;
    transition: transform .5s, opacity 0.5s;
}

.main-container img:hover {
    cursor: pointer;
    transform: scale(1.1);
    opacity: 0.8;
}

figure figcaption {
    text-align: center;
    font-size: 2rem;
}

@media screen and (max-width: 767px) {
    .main-container {
        grid-template-columns: 1fr;
    }

    .main-container img {
        width: 350px;
        height: 250px;
    }
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    margin-top: 20px;
    padding: 10px;
    width: 50%;  /* Adjust the width of the timer container */
    margin: auto; /* Center the timer container */
  }

  .time-display {
    font-size: 30px;
    margin-bottom: 10px;
    color: #ffffff;
  }

  .progressbar {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 10px;  /* Adjust the border-radius of the progress bar */
    overflow: hidden;
    margin-bottom: 20px;
  }

  .progress {
    height: 20px;
    width: 0;
  }

  .timer-button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
  }

  .timer-button:hover {
    opacity: 0.8;
  }

  #start {
    background-color: #008CBA; /* Blue */
  }

  #stop {
    background-color: #4CAF50; /* Green */
  }

  #reset {
    background-color: #f44336; /* Red */
  }

  .day-button {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-decoration: none;
    padding: 15px 32px;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 20px;
    border-radius: 25px;
    border: 2px solid #4CAF50;
    color: white;
    background-color: #4CAF50;
  }
  
  .day-button:hover {
    background-color: white; 
    color: #4CAF50;
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .day-button {
      font-size: 14px;
      padding: 10px 20px;
      margin: 10px;
    }
  
    .buttons {
      justify-content: space-between;
    }
}
  
