:root {
    --black: #171321;
    --dkblue: #0d314b;
    --plum: #4b0d49;
    --hotmag: #ff17e4;
    --magenta: #e310cb;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
    --a: rgba(59, 209, 94, 0.974);
  }
  
  html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    background-color: var(--black);
    font-family: var(--sans);
    color: var(--white);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    padding: 2em;
    margin: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: auto;
  }
  
  .container img {
    width: 400px;
    height: 400px;
    object-fit: fill;
    border: 2px solid rgba(255, 255, 255, 0.18);
    padding: 3px;
    transition: transform 0.5s, opacity 0.5s;
  }
  
  .container img:hover {
    opacity: 0.8;
  }
  
  figure figcaption {
    text-align: center;
    font-size: 2rem;
  }
  
  @media screen and (max-width: 767px) {
    .container {
      padding: 0;
    }
  
    .container img {
      width: 300px;
      height: 300px;
      margin: 0 auto;
    }
  
    figure {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }  
