html {
  box-sizing: border-box;
  font-family: sans-serif;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  height: 100vh;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f7f8fa;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.5s;
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
  padding: 3px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border: 2px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  overflow: hidden;
  transition: transform 0.5s, opacity 1s;
}

.container img:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

footer {
  background-color: #333;
  opacity: 0.8;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.footer-content p {
  margin: 0;
}

@media screen and (max-width: 767px) {
  .container {
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
  }

  img {
    width: 250px;
    height: 250px;
  }

  footer {
    text-align: center;
  }
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-instagram {
  color: white;
}
